<form id="query-panel" action="" method="GET">
<% if versions %>
    <strong>version:</strong>
    <select name="version" class="span2" style="margin-top:6px">
      <option>ALL</option>
      <% versions.each do |v| %>
        <% if version %>
            <% selected = (version.to_s==v[:version].to_s)?'selected':'' %>
            <option <%= selected %>><%= v[:version] %></option>
        <% else %>
        <option><%= v[:version] %></option>
        <% end %>
      <% end %>
    </select>
    <script type="text/javascript">
      $('[name=version]').change(function() {
          var val = $('[name=version]').val();
          console.log(val);
          location.href = "/app/<%= app_id %>/" + encodeURIComponent(val);
          });
    </script>
<% end %>
</form>
