<form id="query-panel" action="" method="GET">
<% if versions %>
    <strong>version:</strong>
    <select name="version" class="span2" style="margin-top:6px" onchange="submit(this.form)">
      <option>ALL</option>
      <% versions.each do |v| %>
        <% if version %>
            <% selected = (version.to_s==v[:version].to_s)?'selected':'' %>
            <option <%= selected %>><%= v[:version] %></option>
        <% else %>
        <option><%= v[:version] %></option>
        <% end %>
      <% end %>
    </select>
  <input type="hidden" name="app_id" value="<%= app_id %>" class="btn" />
<% end %>
</form>
